.filter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    
    border-radius: 12px;
    box-shadow: 0 0 10px 5px rgba(126, 122, 122, 0.25);
    width: 10%;
    height: 13%;

}
.filter p{
    
    margin: 5px 0; 
    margin-left: 10%;
    font-size: 0.9rem;
}